%h1 Сделать новый перевод

= form_tag transactions_path do

  = label :transaction, :from, 'От кого'
  = text_field :transaction, 'from'

  = label :transaction, :to, 'Кому'
  = text_field :transaction, 'to'

  = label :transaction, :change_date, 'Дата перевода'
  = date_select :transaction, :change_date

  = label :transaction, :sum, 'Сумма'
  = number_field :transaction, :sum

  = label :transaction, :comment, 'Назначение перевода'
  = number_field :transaction, :comment

  = submit_tag 'Записать'
