%h1 Перечислить деньги

= form_tag transactions_path do

  = label :transaction, :from, 'Счет отправителя'
  = text_field :transaction, 'from'

  = label :transaction, :pass, 'Пароль'
  = password_field :transaction, 'pass'

  = label :transaction, :to, 'Счет получателя'
  = text_field :transaction, 'to'

  = label :transaction, :sum, 'Сумма'
  = number_field :transaction, :sum

  = submit_tag 'Перечислить'
