%h1 Банк : Перечислить деньги

= form_tag transactions_path do

  = label :transaction, :to, 'Счет получателя'
  = text_field :transaction, 'to'

  = label :transaction, :sum, 'Сумма'
  = number_field :transaction, :sum

  = label :transaction, :comment, 'Назначение перевода'
  = text_field :transaction, :comment

  = submit_tag 'Перечислить'
