%h1 Перечислить деньги

= form_tag transactions_path do

  = label :transaction, :from, 'From'
  = text_field :transaction, 'from'

  = label :transaction, :to, 'To'
  = text_field :transaction, 'to'

  = label :transaction, :change_date, 'Change date'
  = date_select :transaction, :change_date

  = label :transaction, :sum, 'Sum'
  = number_field :transaction, :sum

  = submit_tag 'Save Changes'
