!!! 5
%html
  %head
    %title T-Pskov
    = stylesheet_link_tag 'application'
    = javascript_include_tag 'application'
    = csrf_meta_tags

  %body
    #art-main
      #art-sheet
        #header
        - if session[:acc] 
          #nav
            %ul#menu
              %li= link_to 'Оплата', root_url
              %li= link_to 'Cчет', account_path(session[:acc])
              - if session[:admin]
                %li= link_to 'Все счета', accounts_path
                %li= link_to 'Переводы', transactions_path
                %li= link_to 'Налоги и выплаты', newtax_transactions_path
                %li= link_to 'Заблокированные IP', bans_path
              %li= link_to 'Выход', logout_url

        #main
          - if flash[:notice]
            #notice.message= flash[:notice]
          - elsif flash[:warning]
            #warning.message= flash[:warning]
          = yield
