!!! 5
%html
  %head
    %title T-Pskov
    = stylesheet_link_tag 'application'
    = javascript_include_tag 'application'
    = csrf_meta_tags

  %body
    %h1.title= link_to 'Т-Псков', root_url
    - if session[:acc] 
      #menu
        %h2= link_to 'Оплата', root_url
        %h2= link_to 'Остаток и движения на счете', account_path(session[:acc])
        - if session[:admin]
          %h2= link_to 'Все счета', accounts_path
          %h2= link_to 'Переводы', transactions_path
          %h2= link_to 'Заблокированные IP', bans_path
        %h2= link_to 'Выход', logout_url

    #main
      - if flash[:notice]
        #notice.message= flash[:notice]
      - elsif flash[:warning]
        #warning.message= flash[:warning]

      = yield
