-# edit.html.haml using partial

%h1 Edit Existing Account

= form_tag account_path(@account), :method => :put do

  = label :account, :name, 'Name'
  = text_field :account, 'name'

  = label :account, :account, 'Account'
  = text_field :account, 'account'

  = label :account, :pass, 'Password'
  = text_field :account, 'pass'

  = label :account, :sum, 'Sum'
  = number_field :account, 'sum'

  = label :account, :credit, 'Кредит разрешен'
  = number_field :account, :credit

  = label :account, :creditsum, 'Credit sum'
  = number_field :account, :creditsum

  = label :account, :mail, 'E-mail'
  = text_field :account, 'mail'

  = label :account, :active, 'Account active'
  = number_field :account, :active

  = label :account, :admin, 'Это администратор'
  = number_field :account, :admin

  = submit_tag 'Update Account Info'
