-#  This file is app/views/accounts/index.html.haml
%h1 Банк : Все счета

%table#accounts
  %thead
    %tr
      %th Имя
      %th Счет
      %th Остаток
      %th Кредит разрешен
      %th Кредитный лимит
      %th Электронная почта
      %th Активен
      %th Подробнее
  %tbody
    - @accounts.each do |acc|
      %tr
        %td= acc.name 
        %td= acc.account
        %td= acc.sum
        %td= acc.credit
        %td= acc.creditsum
        %td= acc.mail
        %td= acc.active
        %td= link_to "Подробнее о  #{acc.account}", account_path(acc)

= link_to 'Добавить новый счет', new_account_path
