-# in app/views/accounts/show.html.haml

%h2 Банк : Информация по счету #{@account.account}

%ul#details
  %li
    Владелец счета:
    = @account.name
  %li
    Номер счета:
    = @account.account
  - if session[:admin] 
    %li
      Пароль:
      = @account.pass
  %li
    Остаток средств:
    = @account.sum
  %li
    Кредит разрешен (1-да, 0-нет):
    = @account.credit
  %li
    Сумма кредита:
    = @account.creditsum
  %li
    Электронная почта:
    = @account.mail
  %li
    Счет активен (1-да, 0-нет):
    = @account.active
  - if session[:admin] 
    %li
      Это администратор (1-да, 0-нет):
      = @account.admin

- if session[:admin] 
  = link_to 'Редактировать', edit_account_path(@account)
  = button_to 'Удалить', account_path(@account), :method => :delete, :confirm => 'Вы уверены?'
  = link_to 'Назад к списку счетов', accounts_path
