-# in app/views/accounts/show.html.haml

%h2 Банк : Информация по счету #{@account.account}

%ul#details
  %li
    Владелец счета:
    = @account.name
  %li
    Номер счета:
    = @account.account
  - if session[:admin] 
    %li
      Пароль:
      = @account.pass
  %li
    Остаток средств:
    = @account.sum
  %li
    Кредит разрешен (1-да, 0-нет):
    = @account.credit
  %li
    Сумма кредита:
    = @account.creditsum
  %li
    Электронная почта:
    = @account.mail
  %li
    Счет активен (1-да, 0-нет):
    = @account.active
  - if session[:admin] 
    %li
      Это администратор (1-да, 0-нет):
      = @account.admin

- if session[:admin] 
  = link_to 'Редактировать', edit_account_path(@account)
  = button_to 'Удалить', account_path(@account), :method => :delete, :confirm => 'Вы уверены?'
  = link_to 'Назад к списку счетов', accounts_path

  %h2 Отправленные переводы

  %table#transactions
    %thead
      %tr
        %th Со счета
        %th На счет
        %th Дата транзакции
        %th Сумма
        %th Редактировать
        %th Удалить
    %tbody
      - @senttransactions.each do |transaction|
        %tr
          %td= transaction.from 
          %td= transaction.to
          %td= transaction.change_date
          %td= transaction.sum
          %td= link_to 'Редактировать', edit_transaction_path(transaction)
          %td= button_to 'Удалить', transaction_path(transaction), :method => :delete, :confirm => 'Вы уверены?'

  %h2 Полученные переводы

  %table#transactions
    %thead
      %tr
        %th Со счета
        %th На счет
        %th Дата транзакции
        %th Сумма
        %th Редактировать
        %th Удалить
    %tbody
      - @recvtransactions.each do |transaction|
        %tr
          %td= transaction.from 
          %td= transaction.to
          %td= transaction.change_date
          %td= transaction.sum
          %td= link_to 'Редактировать', edit_transaction_path(transaction)
          %td= button_to 'Удалить', transaction_path(transaction), :method => :delete, :confirm => 'Вы уверены?'
